.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  color: rgb(6, 65, 84); 
  background: rgb(164, 164, 164);
  border: 2px solid rgb(6, 65, 84); 
  border-radius: 6px; 
  border: none;
  color: white;
  padding: 16px 32px;
 
  text-align: center;
  display: inline-block;
  font-size: 24px;
  margin: 4px 20px 4px 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  /* text-transform: uppercase; */
}

button:hover {
  background-color: rgb(225, 225, 225); /* color button becomes while hovering */
  color: black;
}
..

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
