body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  
}

.button {
  color: #0099CC;
  background: transparent; 
  border: 2px solid #0099CC;
  border-radius: 6px; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.btn1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}